page-login {
  .content > .scroll-content {
    background-image: url("../../assets/imgs/login/bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    align-items: center;
  }
}
