.content > .scroll-content {
  background-image: url("../assets/imgs/claims/bg.JPG");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
}

.toolbar-background-md, .toolbar-background-ios {
  background-color: orange;
}
